.order_heading{
  font-size: 45px;
  text-align: center;
  margin-top: 1%;
}

.line{
  border-style: solid;

  border-width: 3px;
}

.align{
  text-align: center;
}
.ig_c{
  color:pink;
}
.you_c{
  color:red;
}
.tik_c{
  color:black;
}
